
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
$primary:navy;
$secondary:navy;
$white:rgb(238, 238, 238);
$dark:#333;
a{
    text-decoration: none;
    color:$secondary;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}


@import "./navbar.scss";
@import "./navbartoogle.scss";
@import "./hero.scss";
@import "./about.scss";
@import "./projects.scss";
@import "./contact.scss";
@import "./footer.scss";
