.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    max-width: 1800px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    z-index: 2000;
    background: $white;
    transform: translate(0, 0);

    h3 {
        color: $secondary;
        letter-spacing: 2px;
        font-size: 1.5rem;
        position: relative;
        padding: 5px 10px;
        font-family: "Original Surfer", cursive;
        box-shadow: 0 1px 2px 0 $secondary;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background: $white;

        span {
            color: $primary;
        }
    }
    > .navmenu {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        > a,
        li {
            color: $secondary;
            text-decoration: none;
            display: inline-block;
            box-shadow: 0 1px 2px 0 $secondary;
            border-radius: 10px;
            cursor: pointer;
            display: grid;
            place-items: center;
            background: $white;
            height: 30px;
            width: 80px;
            position: relative;

            &:hover {
                transform: translateY(-2px);
            }
            a {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;
            }
        }

        .li_active {
            background: $primary;
            color: $white;
        }
        .projectMenu {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;
            &:hover {
                transform: translateY(0px);
            }
            nav {
                position: absolute;
                transform: translateY(90%);

                display: flex;
                gap: 10px;
                flex-direction: column;
                a {
                    color: $secondary;
                    background: $white;
                    box-shadow: 0 1px 2px 0 $secondary;
                    padding: 5px 10px;
                    border-radius: 10px;
                }

                a:hover {
                    color: $primary;
                    transform: translateY(-2px);
                }
            }
        }

        .active {
            color: $white;
            font-weight: bold;
            background: $primary;
        }
        @media (max-width: 600px) {
            display: none;
        }
    }
}

.navbar_active {
    transform: translate(0, -80px);
    transition: all 500ms ease-in-out;
}
