.tooglemenu{
    display: none;


    i{
        cursor:pointer;
        padding: 5px;
        position: absolute;
        right:10px;
        top:50%;
        transform: translateY(-50%);
        &:hover{
            color: $primary;
          }
        
    }
    @media (max-width:600px) {
     display: inline-block;
    }
    &::after{
        content:"";
        position:absolute;
        width:100vw;
        height:80px;
        top:0;
        left:0;
        z-index: -1;
        background:$white;
    }
}
.tooglemenus{
  position: fixed;
  background:$dark;
  color:white;
  padding: 10px;
  bottom:0;
   top:80px;
  left:0;
  right:0;
  height:150px;
  text-align: center;
  animation: navtoogle 700ms ease-in-out 1;
  z-index: -2;

  display: grid;
  grid-gap: 10px;

  a{
      color:$white;
      display: inline-block;
      width:100px;
      position: relative;
      left:50%;
      transform: translateX(-50%);

      display:flex;
      align-items: center;
      justify-content: center;
      &:hover{
          color:$primary;
      }
  }
  .projectMenu{
      cursor: pointer;
      width:100px;
      position: relative;
      left:50%;
      transform: translateX(-50%);
  }
  .projects{
      display: flex;
      gap:20px;
      justify-content:center;
      align-items: center;
      position: absolute;
      top:60px;
      width:100%;
      background: red;

  }
  @media (max-width:600px) {
    display:grid;
   }
   @media (min-width:600px) {
    display:none;
   }

   @keyframes navtoogle  {
       from{
           top:-150px;
       }
       to{
           top:80px;
       }
   }
}
