.tooglemenu{
    position:relative;
    display: none;

    .fa-list-ul{
        color:$secondary;
        cursor:pointer;
        &:hover{
          color: $primary;
        }
    }
    @media (max-width:500px) {
     display: inline-block;
    }

}
.tooglemenus{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:50%;
    width:50%;
    animation: tooglemenu 1s ease-out;
    display: none;
   z-index: 1000;
   height: 50%;

    @keyframes tooglemenu {
        from{
            top:-100%
        }
        to{
            top:50%
        }
    }
    a{
        display: grid;
        place-items: center;
        background: $dark;
        color: $white;
        box-shadow: 0 0 3px 0 $white;
        border-radius: 0 0 15px 15px;
        &:hover{
            background: $white;
            box-shadow: 0 0 10px 0 $dark;
            font-weight: bold;
          }
    }
    @media (max-width:500px) {
        display: grid;
        grid-template-rows:repeat(4,1fr);
        grid-gap: 10px;
        text-align: center;
        .fa-times{
              position:absolute;
              right: 0;
              background-color: $secondary;
              color: $primary;
              padding: 5px;
              cursor: pointer;
              border-radius: 0 0 0 5px;
              box-shadow: 0 0 3px 0 $white;
            &:hover{
                color: $white;
              }
        }
    }
}