.projects{
    min-height: 500px;
    max-width:1800px;
    margin: auto;

    .title_projects{
        display: inline-block;
        background: $primary;
        margin:20px;
        padding: 10px;
        border-radius: 5px;
        color: white;
        letter-spacing: 2px
    }

    h4 {
        margin: 20px;
        border-bottom: 2px solid $primary;
        display: inline-block;
        background: white;
    
      }
    @import "./todolist.scss";
    @import "./wheatherapp.scss";
}