.wheatherapp_conatiner {
    min-height: 300px;
    max-width: 1800px;
    margin: auto;
    border-bottom: 2px solid $primary;
    margin-bottom: 50px;
    padding-bottom: 30px;

    .wheatherapp_wrapper {
        max-width: 90%;
        margin: auto;
        padding: 20px;
        min-height: 500px;
        background: $primary;
        box-shadow: 0 0 5px 0 $dark;
        border-radius: 10px;

        display: grid;
        grid-gap: 20px;
        grid-template-rows: auto 1fr;

        .wheather_form {
             width:70%;
             margin:auto;
     

          display: flex;
          justify-content: center;
          gap:5px;

          input{
             flex:1;
             width:100%;
             padding-left: 20px;
             border-radius: 10px;
             outline: none;
             border: none;
             margin-left:10px;

          }

    
            button {
               
                height: 40px;
                padding: 5px 10px;
                border: none;
                background: $secondary;
                color: white;
                border-radius: 10px;
                cursor: pointer;
                font-size: 18px;

                &:hover {
                    color: $primary;
                }
            }

            
           @media (max-width:500px) {
               flex-direction: column;
               justify-content: center;
               align-items: center;
            input{
                height: 30px;
                padding:10px 20px;
            }
   
}
        }

        // wheather Info

        .wheather_info {
            box-shadow: 0 0 5px 0 $dark;
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 100px;
            place-items: center;
            text-align: center;
            border-radius: 10px;
            position: relative;

            .sunny{
                position: absolute;
                top:0;
                left:0;
                right: 0;
                bottom: 0;
                width:100%;

                
                img{
                    width:100%;
                    height:100%;
                    border-radius: 10px;
                    opacity: .7;
                    object-position: left;
                }
            }

            .wheather_temp{
                grid-column: span 2;
                z-index: 1;

                i{
                    font-size: 60px;
                    animation: rotate 5s ease-in-out infinite;
                    transform: rotate(80deg);
                    
                }
                @keyframes rotate {
                     from{
                         transform: rotate(80deg);
                }to{
                    transform: rotate(180deg);
                }
                }
                .fa-sun{
                    color:coral;
                }
            }

            .whether_desciption,.wheather_address{
                z-index: 1;
            }

        }
    }
}
