.wheatherapp_conatiner {
    min-height: 300px;
    max-width: 1800px;
    margin: auto;
    margin-bottom: 50px;
    padding-bottom: 30px;
    padding-top: 50px;

    .wheatherapp_wrapper {
        max-width: 80%;
        margin: auto;
        padding: 20px;
        min-height: 500px;
        // background: $primary;
        box-shadow: 0 0 5px 0 $dark;
        border-radius: 10px;

        display: grid;
        grid-gap: 20px;
        grid-template-rows: auto 1fr;

        .wheather_form {
            width: 70%;
            margin: auto;

            display: flex;
            justify-content: center;
            gap: 5px;

            input {
                flex: 1;
                width: 100%;
                height: 40px;
                padding-left: 20px;
                font-size: inherit;
                margin-bottom: 10px;

                outline: none;
                border: none;
                margin-left: 10px;
                border-bottom: 1px solid gray;
            }

            button {
                height: 40px;
                padding: 5px 10px;
                border: none;
                background: $primary;
                color: white;
                border-radius: 10px;
                cursor: pointer;
                font-size: 18px;

                &:hover {
                    transform: scale(0.9);
                }
            }

            @media (max-width: 600px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                input {
                    height: 30px;
                    padding: 10px 20px;
                }
            }
        }

        // wheather Info

        .wheather_info {
            box-shadow: 0 0 5px 0 $dark;
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 100px;
            place-items: center;
            text-align: center;
            border-radius: 10px;
            position: relative;

            .temp_bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    opacity: 0.7;
                    object-position: left;
                }
            }

            .wheather_temp {
                grid-column: span 2;
                z-index: 1;

                i {
                    font-size: 60px;
                    animation: rotate 5s ease-in-out infinite;
                }

                .fa-sun {
                    color: coral;
                }
                .fa-cloud {
                    color: rgb(146, 142, 142);
                }
            }

            .whether_desciption,
            .wheather_address {
                z-index: 1;
            }
            @media (max-width: 500px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .wheather_temp {
                    flex: 1;
                    align-self: center;
                    justify-content: center;
                }
                .whether_desciption {
                    height: 20%;
                }
                .wheather_address {
                    height: 20%;
                }
            }
        }

        .weather_bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            img {
                width: 50%;
                object-fit: cover;
                object-position: left;
            }
            img:nth-child(1) {
                border-radius: 10px 0 0 10px;
            }
            img:nth-child(2) {
                border-radius: 0 10px 10px 0;
            }
        }
        .default_text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.7;

            @media (max-width: 500px) {
                font-size: 15px;
            }
        }
    }
}
